{% extends "layout.html" %}
{% block title %}Fetch Cards{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid text-center">
    <div class="h3">Card</div>

    <div class="card mx-auto" style="width: 18rem;">
        {% if current_user.is_authenticated and current_user.has_role("Admin") %}
        <div class="card-header">
            <div class="row">
                <div class="col-auto">
                    <a href="{{url_for('cards.edit', id=request.args.get('id'))}}"
                        class="btn btn-secondary"><i
                            class="bi bi-pencil"></i></a>
                </div>
                <div class="col-auto">
                    <a href="{{url_for('cards.delete', id=request.args.get('id'))}}"
                        class="btn btn-danger"><i class="bi bi-trash"></i></a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="card-body">
            <div class="card-title">{{data.name}} (Cost: {{data.mana_cost}})
            </div>
            <div class="card-text">{{data.text}}</div>
        </div>
        <div class="card-footer text-muted">{{data.flavor_text}}</div>

    </div>

</div>
{% endblock %}