<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minely - {{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2ca1779494.js" crossorigin="anonymous"></script>
    {{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}
    <style>
        .copper {
            background-color: #ff6f00
        }
        .iron{
            background-color: #616161;
        }
        .coal{
            background-color: #212121;
        }
        .wood{
            background-color: #28a745;
        }
    </style>
</head>

<body>
    <section class="container-fluid">
        <div class="mw-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('core.index') }}" class="nav-link">
                            Home
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for('core.profile') }}" class="nav-link">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('resources.my_inventory') }}" class="nav-link">
                                My Inventory
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="landDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Land
                            </a>
                            <div class="dropdown-menu" aria-labelledby="landDropdown">
                                <a class="dropdown-item" href="{{ url_for('land.show_my_land') }}" class="nav-link">
                                    My Land
                                </a>
                                <a class="dropdown-item" href="{{ url_for('land.buy_land') }}" class="nav-link">
                                    Purchase
                                </a>
                            </div>
                        </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="workerDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Workers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="workerDropdown">
                                <a class="dropdown-item" href="{{ url_for('workers.my_workers') }}" class="nav-link">
                                    My Workers
                                </a>
                                <a class="dropdown-item" href="{{ url_for('workers.hire_random') }}" class="nav-link">
                                    Hire
                                </a>
                                <a class="dropdown-item" href="{{ url_for('workers.looking_for_work') }}" class="nav-link">
                                    Looking For Work
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="smelterDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Smelting
                            </a>
                            <div class="dropdown-menu" aria-labelledby="smelterDropdown">
                                <a class="dropdown-item" href="{{ url_for('smelt.my_smelters') }}" class="nav-link">
                                    My Smelters
                                </a>
                                <a class="dropdown-item" href="{{ url_for('smelt.buy') }}" class="nav-link">
                                    Purchase
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for('auth.login') }}" class="nav-link">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('auth.signup') }}" class="nav-link">
                                Sign Up
                            </a>
                        </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for('auth.logout') }}" class="nav-link">
                                Logout
                            </a>
                        </li>


                    {% endif %}
                </ul>
                {% if current_user.is_authenticated %}
                    <span class="navbar-text text-right pr-5 bg-light"><b>Balance</b>: {{ current_user.get_coins() }}</span>
                {% endif %}
            </nav>
        </div>
        <h5>{{ title }}</h5>

        <div class="text-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification alert alert-dark">
                        {% for message in messages %}
                            <div class="row">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
        {% endwith %}
        </div>
        <div class="container-fluid mb-5">

               {% block content %}
               {% endblock %}
        </div>
    </section>
</body>

</html>