{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to {{ name }}'s profile!
</h1>
<h5>Economics</h5>
<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <td>Coins</td>
        <td>{{ coins }}</td>
    </tr>
    <tr>
        <td>Land</td>
        <td>{{ num_lots }}</td>
    </tr>
    <tr>
        <td>Workers</td>
        <td>{{ num_workers }}</td>
    </tr>
    <tr>
        <td>Wood</td>
        <td>
        {% if not wood_types     %}
            None
        {% endif %}
        {%  for wood in wood_types %}
            <div>{{ wood.type.get_name() }}</div><div>{{ wood.quantity}}</div>
        {%  endfor %}
        </td>
    </tr>
    <tr>
        <td>Ore</td>
        <td>
            {% if not ore_types %}
            None
            {% endif %}
            {%  for ore in ore_types %}
            <div>{{ore.type.get_name()}}</div><div>{{ore.quantity}}</div>
            {%  endfor %}
        </td>
    </tr>
    <tr>
        <td>Ingots</td>
        <td>
            {% if not ingot_types %}
                None
            {% endif %}
            {% for ingot in ingot_types %}
            <div>{{ingot.type.get_name()}}</div><div>{{ingot.quantity}}</div>
            {%  endfor %}
        </td>
    </tr>
    </tbody>
</table>

{% endblock %}