{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1><a href="{{ url_for('auth.register') }}">Create a new Account!</a></h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email(placeholder="email",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px ;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box') }}
        {% for error in form.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <br>
    <div>
        {{ form.password(placeholder="password",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px ;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box') }}
        {% for error in form.password.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>

    <p>{{ form.submit(style ='background-color: #4CAF50;
        color: white;
        width: 50%;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px') }}
    </p>
</form>
{% endblock %}
