{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<h1 style="text-align: justify; color: blue;">Create an Account</h1>
<br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username(placeholder="username",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px ;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box') }}
        {% for error in form.username.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <br>
    <div>
        {{ form.email(placeholder="email",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px ;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box') }}
        {% for error in form.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <br>
    <div>
        {{ form.password1(placeholder="password",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px ;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box') }}
        {% for error in form.password1.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <br>
    <div>
        {{ form.password2(placeholder="Confirm password",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px ;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box') }}
        {% for error in form.password2.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <br>
    <div>{{ form.submit(
        style ='background-color: #4CAF50;
        color: white;
        width: 50%;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px') }}
    </div>
</form>
<p></p>
<h3 style="color: blue; margin-left:100px;"><a href="{{ url_for('auth.login') }}">Already have an account?</a></h3>
{% endblock %}
