{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h3>Would you like to purchase a land lot?</h3>
            <h5>Your balance is: {{ balance }}</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-xl-3">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                {{ form.cost.label }}
                {{ form.cost }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div>
</div>
{% endblock %}