{% extends "layout.html" %}
{% block title %}Treasure Hunter{% endblock %}
{% block content %}
<div class="mx-auto" style="height: 75%; width: 75%;">
    <canvas height="1024px" style="width:100%" tabindex="1" width="1024px"></canvas>
</div>
<script>
    let canvas = document.getElementsByTagName("canvas")[0];
    let context = canvas.getContext("2d");
     const scaledMP = (e) => {
        //scaled mouse position on canvas https://stackoverflow.com/a/17130415
        var rect = canvas.getBoundingClientRect(); // abs. size of element
        scaleX = canvas.width / rect.width; // relationship vs. element for X
        scaleY = canvas.height / rect.height; // relationship vs. element for Y
        return{
            x: (e.clientX - rect.left) * scaleX,
            y: (e.clientY - rect.top) * scaleY
        }
    }
    function Hole(x,y, s=20){
        return{
            x:x,
            y:y,
            s:s,
            Draw: function(){
            //https://www.tutorialspoint.com/html5/canvas_composition.htm
            let gco = context.globalCompositeOperation;
            context.beginPath();
            context.globalCompositeOperation = "destination-out";
                context.fillStyle = "rgba(255,255,255,128)";

                context.arc(this.x - (this.s*.5), this.y - (this.s*.5), this.s, 0, 2 * Math.PI);
                context.fill();
                context.closePath();
                context.globalCompositeOperation = gco;
            }
        }
    }
    function Treasure(x,y, s=20){
        return{
            found: false,
            x:x,
            y:y,
            s:s,
            Draw: function(){
            //https://www.tutorialspoint.com/html5/canvas_composition.htm
            let gco = context.globalCompositeOperation;
             context.beginPath();
             context.globalCompositeOperation = "destination-over";
                context.fillStyle = this.found?"green":"gray";

                context.arc(this.x - (this.s*.5), this.y - (this.s*.5), this.s, 0, 2 * Math.PI);
                context.fill();
                context.closePath();
                context.globalCompositeOperation = gco;
            }
        }
    }
    const GameState = {
        test:"test",
        holes: [],
        treasure: [],
        score: 0,
        headerHeight: 100,
        energy: 10,
        energyMax: 10,
        Erase: function(){
            context.clearRect(0, 0, canvas.width, canvas.height);
        },
        Menu: function(){
            this.Erase();
            // Show the menu
            context.imageSmoothingEnabled = false;
              context.fillStyle = '#000000';
              context.font = '24px Arial';
              context.textAlign = 'center';
              context.fillText('Treasure Hunt', canvas.width *.5, canvas.height *.25);
              context.font = '18px Arial';
              context.fillText('Click to Start', canvas.width *.5, canvas.height *.3);
              context.font = '14px Arial';

              context.fillText('Click to Dig', canvas.width *.5, (canvas.height *.3) * 2);
              // Start the game on a click
              let self = this;
              canvas.addEventListener('click', function handler(){ this.removeEventListener("click", handler); self.Start();});
        },
        Start: function(){
            console.log("start");
            this.LoadQuarry();
        },
        LoadQuarry: function(){
            this.Erase();
            context.beginPath();

            //generate treasure
            let tx = Math.random()*canvas.width;
            let ty = (Math.random()*(canvas.height-this.headerHeight)) + this.headerHeight;
            this.treasure.push(Treasure(tx,ty));
            console.log(this.treasure);
            //generate initial hole
            let x = Math.random()*canvas.width;
            let y = (Math.random()*(canvas.height-this.headerHeight)) + this.headerHeight;
            this.holes.push(Hole(x,y, 50));
            this.Draw();
            //allow dig
            canvas.addEventListener("click", this.Dig);
        },
        DrawHeader: function(){
            context.font = '24px Arial';
            context.fillText(`Score: ${this.score}`, canvas.width * .05, canvas.height*.05);
            let found = this.treasure.filter(x=>x.found).length;
            context.fillText(`Found: ${found}/${this.treasure.length}`,canvas.width * .25, canvas.height*.05);
            context.fillText(`Holes Dug: ${this.holes.length}`, canvas.width * .45, canvas.height*.05);
        },
        Draw: function(){
            this.Erase();
            context.strokeStyle="black";
            context.strokeRect(0,0, canvas.width, canvas.height);
            this.DrawHeader();
            context.fillStyle = "brown";
            context.fillRect(0,this.headerHeight,canvas.width,canvas.height);
            for(let h of this.holes){
                h.Draw();
            }
            for(let t of this.treasure){
                t.Draw();
            }

            /* debugging
            let t = this.treasure[0];
            context.fillStyle="red";
            context.fillRect(t.x,t.y, 5,5);*/
            this.FindTreasure();

        },
        FindTreasure: function(){
            let unfoundTreasure = this.treasure.filter(x=>!x.found);
            for(let h of this.holes){
                for(let t of unfoundTreasure){
                    let dx = h.x - t.x;
                    let dy = h.y - t.y;
                    let d = Math.hypot(dx, dy) - (h.s + t.s);
                    if(d < Math.sqrt(h.s+t.s,2)){
                        console.log("found!",d, Math.sqrt(h.s+t.s,2));
                        this.score += 100;
                        t.found = true;
                    }
                }
            }
        },
        Dig: function(e){
            console.log("dig", e);
            var pos = scaledMP(e);
            let newHole = Hole(0,0);
            var mx = pos.x + (newHole.s*.5);
            var my = pos.y + (newHole.s*.5);
            newHole.x = mx;
            newHole.y = my;
            var p = context.getImageData(pos.x, pos.y, 1, 1).data;
            let t = 0;
            for(let c of p){
                t+=c;
                console.log(c);
            }
            console.log("color", p,mx,my, t);
            //depends on drawing method (1024 is 255*4, each rgba value of 255 for white)
            if(t >= 1020 || t == 0){
                GameState.holes.push(newHole);
                GameState.Draw();
                console.log("Added hole");
            }
        }
    }

    GameState.Menu();



</script>
{% endblock %}
