{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3">Profile</div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{render_field(form.username)}}
        {{render_field(form.email)}}
        {{render_field(form.current_password)}}
        {{render_field(form.password)}}
        {{render_field(form.confirm)}}
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}