{% extends "layout.html" %}
{% block title %}{{"Random" if save_enabled else "View"}} Broker{% endblock %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="container-fluid">
    <div class="h3">Broker Details: {{ broker.name }} -
        {{'Owned by you' if broker.user_id == current_user.id else broker.status}}
    </div>
    <div class="card my-2">
        <div class="card-body">
            <h5>Stats</h5>
            <p>Rarity: {{ broker.rarity }}</p>
            <p>Life: {{ broker.life }} / {{ broker.life_max }}</p>
            <p>Power: {{ broker.power }}</p>
            <p>Defense: {{ broker.defense }}</p>
            <p>Stonks: {{ broker.stonks }}</p>
        </div>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <h5>Stocks: ${{broker.total_value()|round}}</h5>
            {% if broker.stocks %}
            <ul class="list-group">
                {% for stock in broker.stocks %}
                <li class="list-group-item">
                    Symbol: {{ stock.symbol }},
                    Shares: {{ stock.shares }},
                    Price: {{ stock.price }},
                    Change: {{ stock.change }} ({{ stock.change_percent }}%),
                    Total: ${{(stock.price * stock.shares)|round}}
                    {% if current_user.is_authenticated and current_user.id == broker.user_id %}
                    <form method="POST" action="{{url_for('brokers.upgrade')}}">
                        {{stockForm.broker_id(value=broker.id)}}
                        {{stockForm.symbol(value=stock.symbol)}}
                        {{stockForm.csrf_token}}
                        <div class="row">
                            <div class="col">
                                {{render_field(stockForm.shares, value=1)}}
                            </div>
                            <div class="col align-self-end">
                                {{stockForm.submit(class="btn btn-primary mt-3")}}
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% if save_enabled %}

            <form method="POST" id="brokerForm">
                {% for field in form if field.name != 'csrf_token' and field.name != 'stocks' %}
                {{ render_field(field) }}
                {% endfor %}
                <div id="stockEntries" class="ms-5">
                    <!-- Render existing stock entries -->
                    {% for entry in form.stocks %}
                    <div class="stock-entry">
                        {{entry.hidden_tag()}}
                        {{ render_field(entry.symbol) }}
                        {{ render_field(entry.shares) }}
                    </div>
                    {% endfor %}
                </div>
                {{ form.hidden_tag() }}
                {{ form.submit(class="btn btn-primary mt-3") }}

            </form>
            {%endif%}
            {% else %}
            <p>No stocks associated with this broker.</p>
            {% endif %}
        </div>
    </div>
</div>
<style>
    #brokerForm .form-group {
        display: none !important;
    }
</style>
{% endblock %}