{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h3>Pick the resource to load in the {{ slot }} slot?</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-xl-3">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.options.label }}
                    {{ form.options }}
                </div>
                <div class="form-group">
                    {{ form.quantity.label }}
                    {{ form.quantity }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div>
</div>
{% endblock %}