{% extends "layout.html" %}
{% block title %}Add Company{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}

<div class="container-fluid">
    <div class="h1">Add Company</div>
    <div>
        <form method="POST">
            {#
            using regular html generate fields (labels and input) with proper types for
            name (required)
            address (required)
            city (required) (can be a text field, doesn't need to be a valid city)
            state/country (required) (given)
            zip (required)
            website (optional)
            if a validation error occurs, the inserted form data should persist
            #}

            {# use this for country/state selection #}
            {{country_state_selector()}}
            <input type="submit" class="btn btn-primary" value="Save Company" />
        </form>
    </div>
</div>
{% endblock %}
