{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            {{ form.email.label }}
            {{ form.email }}
            {{ form.password.label }}
            {{ form.password }}
            {{ form.remember_me.label }}
            {{ form.remember_me }}
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}