{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="/signup">
            {{ form.hidden_tag() }}
            {{ form.email.label }}
            {{ form.email }}
            {{ form.username.label }}
            {{ form.username }}
            {{ form.password.label }}
            {{ form.password }}
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}