{% macro render_field(field) %}
{# demonstrating a macro (basically a template function)
modified from https://flask.palletsprojects.com/en/2.2.x/patterns/wtforms/
hints: https://gist.github.com/pwalsh/d3eb06ad098abcc9cb1d
#}
{% if field.type == "BooleanField" %}
<!-- handle checkbox/boolean field-->
<div class="form-check">
    {{field(class="form-check-input")}}
    {{ field.label(class="form-check-label")}}

</div>
{% else %}
<!-- handle other fields (todo implement other non-standard fields)-->
<div class="form-group mb-3">

    {{ field.label(class="form-label") }}
    {{ field(class="form-control",**kwargs)|safe }}
    
    {% if field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}
{% endmacro %}