{% extends "layout.html" %}
{% block title %}View Stock{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="h3">View Stock</div>
    <div class="card">
        <div class="card-body">
            {% for field in form %}
            {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
            <div class="mb-3">
                <strong>{{ field.label }}</strong>
                <p>{{ field.data }}</p>
            </div>
            {% endif %}
            {% endfor %}
            <a href="{{ url_for('stocks.list') }}"
                class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
{% endblock %}