{% extends "layout.html" %}
{% block title %}Stocks{% endblock %}

<!-- content -->
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_table_helper.html" import render_table %}
{% from "_pagination.html" import pagination %}
{% set view = "stocks.view" %}
{% set edit = "stocks.edit" %}
{% set delete = "stocks.delete" %}
<div class="container-fluid">

    <form method="GET">
        <div class="row mb-3">
            {% for field in form %}
            {% if field.name != 'csrf_token' %}
            <div class="col align-self-end">
                {{ render_field(field) }}
            </div>
            {% endif %}
            {% endfor %}
            {{ form.hidden_tag() }}
            {{ form.submit(class="btn btn-primary mt-3") }}
        </div>
    </form>

    {{ render_table(rows, "Stocks", [], view, edit, delete) }}
    {{pagination(total)}}
</div>
{% endblock %}