{% extends "layout.html" %}
{% block title %}View Stock{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="h3">View Stock</div>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                {% for k,v in stock.items() %}
                <li class="list-group-item">{{k}} - {{v}}</li>
                {% endfor %}
            </ul>

            <a href="{{ url_for('stocks.list') }}"
                class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
{% endblock %}